@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.login-border {
  width: 45%;
  height: 500px;
  padding: 20px 50px;
  border-radius: 9px;
  background-color: white;
  margin: 50px auto;
}

.login-button {
  letter-spacing: 2px;
}

.font-bold {
  font-weight: bold;
  font-size: 14px;
}
.font-bold-free {
  font-weight: bold;
  font-size: 16px;
}
.logo {
  width: 160px;
  height: 160px;
}

.login-title {
  font-size: 23px;
  font-weight: 700;
}

.navbar-vertical.navbar-expand-lg .navbar-collapse {
  display: block;
  overflow: auto;
  height: calc(100vh - 500px) !important;
}

.navbar-vertical.navbar-expand-md .navbar-collapse {
  display: block;
  overflow: auto;
  height: calc(100vh - 500px) !important;
}

.navbar-vertical.navbar-expand-sm .navbar-collapse {
  display: block;
  overflow: auto;
  height: calc(100vh - 500px) !important;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
  display: block;
  overflow: auto;
  height: 100% !important;
}

/* classes */
.class-add-icons {
  font-size: 50px !important;
}
.classes-card {
  min-height: 75vh;
  overflow-y: auto;
}

.height-100 {
  height: 100% !important;
}

.classes-icon-add {
  margin-top: 120px;
}
.class-add-card {
  width: 50%;
}
.button-text-size {
  font-size: 14px;
  font-weight: 600;
}
.image-now {
  width: 300px !important;
  height: 200px !important;
}
#preview-image {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.preview-image-options {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.preview-image {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.class-images {
  width: 100%;
  height: 150px;
}

.class-title {
  font-size: 15px;
  font-weight: 600;
}

.class-room {
  font-size: 13px;
}

.page-item .page-link,
.page-item span {
  padding: 1px 30px !important;
  border-radius: 3px !important;
  width: 40px !important;
  height: 30px !important;
}

.dataTables_info {
  font-size: 13px !important;
}

.dataTables_empty {
  font-size: 13px !important;
  color: #888 !important;
}

.remove-button {
  font-size: 13px !important;
}

.class_header {
  font-size: 18px !important;
  font-weight: 600;
}

.options-width {
  width: 300px;
  margin: 0 auto;
}

.create-text {
  font-size: 17px;
  font-weight: 600;
}

.btn-options-text {
  font-weight: bold;
}

/* activities */

.activities-images {
  width: 100%;
  height: 90px;
}
.description-activity {
  height: 90px;
}
.activity-due {
  font-size: 11px;
  margin: 0;
}
.attachment_text {
  font-size: 14px;
  font-weight: bold;
}
.activity-file {
  font-size: 13px;
}
.title-activity {
  font-size: 15px;
  font-weight: bold;
}
.activity-description {
  font-size: 14px;
}

.h-height-100 {
  height: 100vh !important;
}
.fc-center h2 {
  font-size: 20px !important;
}
.fc-prev-button,
.fc-next-button {
  border: 1px solid #fff !important;
  background-image: none !important;
  background-color: #1a8755 !important;
}
.fc-icon-left-single-arrow,
.fc-icon-right-single-arrow {
  color: #fff !important;
}

.search-center-classcode {
  width: 35%;
  padding: 10px 20px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  font-size: 14px;
}

.btn-search-code {
  padding: 10px 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.font-instruction {
  font-size: 17px;
}
.under-instruction {
  width: 42% !important;
}
.font-instruction-li {
  font-size: 13px;
}
.icon-size {
  font-size: 80px;
  margin-bottom: 20px;
}
.fc-title {
  font-size: 9px !important;
}
.password-class-icon {
  right: 0;
  margin-right: 15px;
}

.settings-items {
  width: 40%;
}
@media (max-width: 570px) {
  .settings-items {
    width: 80%;
  }
  .text-header {
    font-size: 8px !important;
    display: flex;
  }
  .under-instruction {
    width: 100% !important;
  }
  .search-center-classcode {
    width: 55%;
  }
}
/* .fc-today-button {
  background-color: #1a8755 !important;
} */
